		<div class="col-xs-12">
			<div class="panel panel-warning">
			  <div class="panel-heading">
			  	<h5>Nombre del principio activo</h5> 
			  </div>
			  <div class="panel-body">
						  			<div class="row" >
						  				<div class="col-xs-4">
						  					<p class="help-block">Concentración</p>
						  					<input class="form-control input-sm" type="text" ng-model="principio.concentracionDatosFarma" >
						  				</div>

										<div class="col-xs-4">
											<p class="help-block">Unidad</p>
												<select class="form-control input-sm"  ng-model="principio.idUnidad"  >
													<option value="{{unidad.idUnidad}}"  ng-repeat="unidad in vm.opciones.unidad track by unidad.idUnidad"> {{unidad.abreviaturaUnidad}} </option>
												</select>
										</div>
										<div class="col-xs-4">
											<p class="help-block">Presentación</p>
											<select ng-model="principio.idPresentacion"  class="form-control input-sm" >
												<option value="{{presentacion.idPresentacion}}"  ng-repeat="presentacion in vm.opciones.presentacion track by presentacion.idPresentacion" ng-bind-html="presentacion.nombrePresentacion" >  </option>
											</select>
										</div>	
						  				<div class="col-xs-4">
						  					<p class="help-block">Via</p>
											<select ng-model="principio.idVia" class="form-control input-sm" >
											<option value="{{via.idVia}}"  ng-repeat="via in vm.opciones.via track by via.idVia" ng-bind-html="via.nombreVia" ></option></select>
						  				</div>

						  				<div class="col-xs-4">
						  					<p class="help-block">Frecuencia</p>
											<select ng-model="principio.idFrecuencia" class="form-control input-sm" >
											<option value="{{frecuencia.idFrecuencia}}"  ng-repeat=" frecuencia in vm.opciones.frecuencia track by frecuencia.idFrecuencia" ng-bind-html=" frecuencia.nombreFrecuencia" ></option></select>
						  				</div>

						  				<div class="col-xs-4">
						  					<p class="help-block">Horaio</p>
						  					<input placeholder="horario" ng-model="principio.idFrecuencia" type="text" class="form-control input-sm" />
						  				</div>
						  					  
						  				<div class="col-xs-6">
						  					<p class="help-block">Notas u observaciones</p>
						  					<input placeholder="horario" ng-model="principio.idFrecuencia" type="text" class="form-control input-sm" />
						  				</div>
						  				<div class="col-xs-6">
						  					<p class="help-block">Area para cronico y externos</p>
						  					<input placeholder="horario" ng-model="principio.idFrecuencia" type="text" class="form-control input-sm" />
						  				</div>						  				
						  			</div>			  						  			
			  </div>
			</div>
		</div>
