<nav id="myNavmenu"  class="navmenu navmenu-default navmenu-fixed-left offcanvas-sm" role="navigation">
    <br>
    <img class="center-block" style="width:150px;cursor:pointer" ng-click="nav.goHome()" src="assets/img/logo/nubaNeg.svg">
    <div class="nav-divider"></div>
    <img class="center-block" style="width:100px;cursor:pointer" ng-click="nav.goHome()" src="assets/img/icon/Icono_Perfil.svg">
    <div class="text-center">
      {{nav.usuario.nombre}}
    </div>
    <div class="nav-divider"></div>
    <ul class="list-inline" ng-init="menu = 1" >

      <li ng-class="{'active':menu==1 }"  ng-click=" menu = 1;vm.goHome()" >
         <img style="width:30px;cursor:pointer" src="assets/img/icon/Icono_Paciente.svg">  Pacientes    </li>
      <li  ng-class="{'active':menu==2 }" ng-click="menu = 2;vm.getAlerts()">
          <img style="width:30px;cursor:pointer" ng-click="" src="assets/img/icon/Icono_Notificaciones.svg">  Notificaciones
      </li>
      <li  ng-class="{'active':menu==3 }" ng-click="menu = 3;vm.getAlerts()">
          <img style="width:30px;cursor:pointer" ng-click="" src="assets/img/icon/Icono_Interacciones.svg">  Interacciones
      </li>
      <li  ng-class="{'active':menu==4 }" ng-click="menu = 4">
         <img style="width:30px;cursor:pointer" ng-click="" src="assets/img/icon/Icono_Estadistica.svg">  Estadisticas
      </li>

    </ul>
    <div class="nav-divider"></div>
    <ul class="list-inline" style="padding-top:0%">
        <li uib-dropdown id="ayudaDom"  >
           <span  uib-dropdown-toggle  >
              <img style="width:30px;cursor:pointer"  src="assets/img/icon/Icono_Ayuda.svg">  Ayuda 
           </span>     
              <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                <li><a href="http://nuba.cloudapp.net/_tip/Help-ATC-Index.php" target="_blank">Guía ATC</a></li>
                <li><a href="#/politicas" target="_blank">Politica de privacidad</a></li>
              </ul>
        </li>
        <li class=""  ng-click="nav.goHome()" >
           <img style="width:30px;cursor:pointer" src="assets/img/icon/Icono_Alertas.svg"> Notificaciones
        </li>
        <li class=""  ng-click="nav.logOut()"  >
           <img style="width:30px;cursor:pointer"src="assets/img/icon/Icono_Logout.svg">  Cerrar sesion
        </li>          
     </ul>
</nav>



<div class="container-fluid">
	
	<div ng-if="menu == 1" ng-include="'conciliacion/components/home/template/altas.html'"></div>
	<div ng-if="menu == 2" ng-include="'conciliacion/components/home/template/notificaciones.html'"></div>
	<div ng-if="menu == 3" ng-include="'conciliacion/components/home/template/interacciones.html'"></div>
	<div  ng-if="menu == 4" ng-include="'conciliacion/components/home/template/charts.html '"></div>

</div>