<nav id="myNavmenu"  class="navmenu navmenu-default navmenu-fixed-left offcanvas-sm" role="navigation">
    <br>
    <img class="center-block" style="width:75px;cursor:pointer" ng-click="nav.goHome()" src="assets/img/logo/sophie.svg">
    <div class="nav-divider"></div>
    <img class="center-block" style="width:100px;cursor:pointer" ng-click="nav.goHome()" src="assets/img/icon/Icono_Perfil.svg">
    <div class="text-center">
      {{nav.usuario.nombre}}
    </div>
    <div class="nav-divider"></div>
    <ul class="list-inline" ng-init="menu = 1" >

      <li ng-class="{'active':menu==1 }"  ng-click=" menu = 1;" >
         <img style="width:30px;cursor:pointer" src="assets/img/icon/Icono_Paciente.svg">  Alta de usuarios    </li>

    </ul>
    <div class="nav-divider"></div>
    <ul class="list-inline" style="padding-top:0%">
        <li uib-dropdown id="ayudaDom"  >
           <span  uib-dropdown-toggle  >
              <img style="width:30px;cursor:pointer"  src="assets/img/icon/Icono_Ayuda.svg">  Ayuda 
           </span>     
              <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                <li><a href="http://nuba.cloudapp.net/_tip/Help-ATC-Index.php" target="_blank">Guía ATC</a></li>
                <li><a href="#/politicas" target="_blank">Politica de privacidad</a></li>
              </ul>
        </li>
        <li class="" ng-click="nav.goHome()" >
           <img style="width:30px;cursor:pointer"  src="assets/img/icon/Icono_Alertas.svg"> Notificaciones
        </li>
        <li class=""  ng-click="nav.logOut()"  >
           <img style="width:30px;cursor:pointer"src="assets/img/icon/Icono_Logout.svg">  Cerrar sesion
        </li>          
     </ul>
</nav>



<div class="container-fluid">
    <div class="data-tile">
    	<form class="form" name="personal_data">
    		
                <div class="row " >
    	            <div class="col-md-4 col-sm-4 col-xs-4 ">
    	                <div class="form-group" ng-class="{'has-error':vm.nameError}">
    	                    <p class="help-block">Nombre del Paciente*</p>
    	                    <input type="text" ng-model="personal_data.nombrePaciente" placeholder="Nombre de Paciente"  ng-disabled="datosClinicos" class="form-control " required>
                            <span class="help-block has-error" ng-if="vm.nameError">
                                <span>El nombre de usuario no es valido</span>
                            </span>

    	                </div>            	
    	            </div>	           
                    <div class="col-md-4 col-sm-4 col-xs-4 ">
                      <div class="form-group">
                          <p class="help-block">Fecha de nacimiento*</p>
                          <input type="date" ng-model="personal_data.nacimientoPaciente" placeholder="Fecha de nacimiento" ng-disabled="datosClinicos" class="form-control " required>

                      </div>                  
                    </div>   
                    <div class="col-md-4 col-sm-4 col-xs-4  "> 
                      <div class="form-group">    
                          <p class="help-block"> Genero* </p>
                          &nbsp;
                          &nbsp;
                          <input type="radio" value="F" ng-disabled="datosClinicos" ng-model="personal_data.sexoPaciente"> F
                          &nbsp;
                          <input type="radio" value="M" ng-disabled="datosClinicos" ng-model="personal_data.sexoPaciente" > M
                      </div>  
                    </div> 
                    <div class="col-md-4 col-sm-4 col-xs-4 ">  
                        <button class="btn btn-success btn-block" ng-hide="personal_data.$invalid || datosClinicos" ng-disabled="personal_data.sexoPaciente==undefined" ng-click="vm.postUser(personal_data)" >Continuar </button>
                    </div>
                </div>
    	</form>
    	<form name="paciente" ng-show="datosClinicos">
                <div class="row">
                	<div class="col-sm-12">
                		<hr>
                	</div>
                    <div class="col-xs-4 ">
                        <div class="row">
                            <div class="col-xs-12">
                                <p class="help-block">Identificador*</p>
                                <input type="text" ng-model="paciente.identificadorDatosClinicos" ng-disabled="!datosClinicos" placeholder="id" class="form-control "  required/>
                            </div> 
                            <div class="col-xs-12">
                                <p class="help-block">Cama / Cuarto*</p>
                                <input type="text" ng-model="paciente.camaDatosClinicos" ng-disabled="!datosClinicos" placeholder="Cama/Cuarto" class="form-control "  required/> 
                            </div>  
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="row">
                            <div class="col-xs-12">
                                <p class="help-block">Fecha de hospitalización</p>
                                <input type="date" ng-model="paciente.ingresoDatosClinicos" ng-disabled="!datosClinicos" placeholder="" class="form-control " />
                            </div>  
                            <div class="col-xs-12">
                                <p class="help-block">Área de atención*</p>
                                <select ng-options="servicio as servicio.nombreServicio for servicio in vm.services" ng-disabled="!datosClinicos" ng-model="paciente.Servicio" placeholder="Servicio" class="form-control " required></select>
                            </div> 
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="row">
                            <div class="col-xs-12">
                                <p class="help-block">Talla</p>
                                <input type="number" ng-model="paciente.tallaDatosClinicos" ng-disabled="!datosClinicos" placeholder="Talla en cm" class="form-control " />
                            </div>
                            <div class="col-xs-12">
                                <p class="help-block">Peso</p>
                                <input type="number" ng-model="paciente.pesoDatosClinicos" ng-disabled="!datosClinicos" placeholder="Peso en kg" class="form-control " />
                            </div> 
                        </div>
                    </div>
                    
                    <div class="col-sm-12">
                        <hr>
                    </div>




                </div>
                <div class="row"> 
                    <div class="col-xs-6">
                        <div class="">
                            <p class="help-block">Médico </p>
                            <input type="text" ng-model="paciente.doctorDatosClinicos" ng-disabled="!datosClinicos" placeholder="Médico asignado" class="form-control " />
                        </div> 
                        <div class=" ">
                            <p class="help-block">Motivos del ingreso*</p>
                            <textarea rows="2" type="text" ng-model="paciente.motivoDatosClinicos" ng-disabled="!datosClinicos" placeholder="Motivo de ingreso" class="form-control " required></textarea>
                        </div> 
                        <div class="">
                            <p class="help-block">Diagnostico del paciente</p>
                            <textarea rows="2" type="text" ng-model="paciente.diagnosticoDatosClinicos" ng-disabled="!datosClinicos" placeholder="Diagnostico" class="form-control "></textarea>
                        </div>   
                        <div class="">
                            <p class="help-block">Notas</p>
                            <textarea rows="2" type="text" ng-model="paciente.observacionDatosClinicos" ng-disabled="!datosClinicos" placeholder="Notas y observaciones / enfermedades cronicas" class="form-control "></textarea>
                        </div>                
                    </div>
     
                    <div class="col-xs-6">
                        <div class="">
                            <p class="help-block">Alergias </p>
                            <ul>
                                <li ng-repeat="alergia in personal_data.alergias track by $index">{{alergia.nombreAlergia}} </li>
                                <li ng-show="personal_data.alergias == 0">No registradas</li>
                            </ul>
                            <div class="input-group">
                              <input type="text" ng-model="alergy" ng-init="alergy = '' " uib-typeahead="alergia as alergia.nombreAlergia for alergia in vm.alergias | filter:$viewValue | limitTo:4 " class="form-control input-md"  placeholder="Registrar alergia" value="{{medicamento}}">
                              <span class="input-group-btn">
                                <button class="btn btn-default" ng-click="vm.addAlergy(alergy);alergy=''" type="submit" ng-disabled="alergy == '' ">Agregar</button>
                              </span>
                            </div><!-- /input-group -->
                        </div>
                        <div class=" ">  
                            <br>
                            <button class="btn btn-success btn-block" ng-hide="paciente.$invalid && !datosClinicos" ng-disabled="paciente.$invalid"  ng-click="vm.postCD(paciente)" >Continuar </button>
                        </div>
                    </div>



                </div>	                    
        </form>
    </div>
</div>